<h1>Date Suggestions</h1>

<ul>
  {{#each dateIdeas}}
  <li>
    <h2>{{this.dateIdea}}</h2>
    <p>Location: {{this.location}}</p>
    <p>Adventure Level: {{this.adventurelevel}}</p>
    <p>Budget: {{this.budget}}</p>
    <p>Duration: {{this.duration}}</p>
  </li>
  {{/each}}
</ul>
