


{{#if userInSession}}
<h2 class="h2-user">Hi, {{ userInSession.username }}!</h2>

    <h3>Your personal data</h3>
    <h4>Username: {{users.username}}</h4>
    <h4>Email: {{users.email}}</h4>
    <h4>Password: {{users.password}}</h4>
    <a href="/users/{{users._id}}/edit">Edit</a>

<p class="date-text">Are you ready to plan your next date?</p>
{{!-- <button class="reload-button">
  <a href="/userProfile">Reload the page</a>
</button> --}}
{{> questionnaire}}

{{else}}

<br>
<p>You need to log in!</p>

{{/if}}
